<table>
    <thead>
        <tr>
            <th ng-repeat="day in $ctrl.days">
                {{ day.date | date:'dd/MM/yyyy' }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td ng-repeat="day in $ctrl.days">
                <ul>
                    <li ng-repeat="booking in day.bookings">
                        {{ booking.datetime | date:'HH:mm' }} - {{ booking.label }}
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
